<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCFbH5ADTunoZDX-jwZALOKxkTjoxghqRg</string>
	<key>GCM_SENDER_ID</key>
	<string>949117445805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.softpol.sportnetera</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-530bf</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-530bf.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:949117445805:ios:8438e636e0a194e29c8824</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-530bf.firebaseio.com</string>
</dict>
</plist>